<script type="text/javascript">


var series = new Array() ;
var maxY = 0.05 ;
var startDate ;
var SiteID = 9 ; // need to be initialized from database......
var NumPoints = 10 ;
var Number_of_ticks = 10 ;
var Tick_interval = '12 hours' ;
var json_raw ;
var str = "";
var i = 0 ;


	$(document).ready(function(){ 
		$('#max_y').val(maxY);
		$('#tick_interval').val(Tick_interval);
		$('#number_of_ticks').val(Number_of_ticks);
		json_get() ;

	});

	function select_series(site_id, number_points) {
		NumPoints = number_points ;	    
		SiteID = site_id ;
		json_get() ;	
	}

	function json_get() {
		$.getJSON("/time_logs/data.json",
		{ site_id:SiteID, num_points:NumPoints },
		function(json_raw){
			series = [] ;
			for (i=0;i<=NumPoints-1;i++)
			{ series.push ([0,0]) ; }

			$('#test').html(series.length)

			for (i=0;i<=NumPoints-1;i++)
				{
					series[i][0] = new Date (json_raw[i].checked ) ;
					series[i][1] = json_raw[i].delay ;
				}
			show_get(series);
		});
	}

	function show_get(series) {
				maxY = $('#max_y').val() ;	    
				Number_of_ticks = $('#number_of_ticks').val() ;	    
				Tick_interval = $('#tick_interval').val() ;	    				
				$.jqplot('chartdiv',  [series],
				{ title:'Response Time for Site# ' + SiteID,
				  axes:{ yaxis: { min: 0, max: maxY },
				 		 xaxis: { renderer:$.jqplot.DateAxisRenderer,
				         tickOptions:{formatString:'%m/%d/%y - %I:%M:%S'},
		//		         tickOptions:{formatString:'%H:%M:%S'},
		//		         min: startDate ,
						 numberTicks: Number_of_ticks ,
				         tickInterval: Tick_interval 
				           },
					   },
					grid: {
			            drawBorder: true, 
			            drawGridlines: true,
			            background: '#ffffff',
			            shadow:true
			        },
				  series:[{color:'#5FAB78'}]
				}
						).replot();							
	}

	</script>
	
    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>Talon <small>keeping an eye on critical information</small></h1>
        </div>
        <div class="row">
          <div class="span10">
			
			<div id="chartdiv" ></div>
			
			<%= link_to "Test", test_sites_path %><br><br>
			Max Y: <input type="text" id="max_y"><br />
			Tick Interval: <input type="text" id="tick_interval"><br />
			Number of Ticks: <input type="text" id="number_of_ticks"><br />
			<a href="#"onclick="show_get(series)">Redraw Graph</a>			

          </div>


          <div class="span4">			
			<table class="zebra-striped">
			  <tr>
			    <th>Url</th>
			    <th>Data Points</th>
			  </tr>
			
			<% i = 0 %>
			<% @sites.each do |site| %>
			  <tr>
			    <td><a href="#"onclick="select_series(<%= site.id %>,<%= @point_range[i][1] %>)"><%= truncate(site.url, :length => 10) %></a></td>
			    <td><%= @point_range[i][1] %></td>
			  </tr>
			<% i = i + 1 %>
			<% end %>
			</table>

          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>